@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
  position: relative;
}

.nav-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: #232323;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
